/* Resetar css do meu projeto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {background-color: darkblue; padding: 10px;}
nav a{
    color: white;
    display: block;
    padding: 20px;}

h1 {color: darkblue;}  

main {max-width: 800px;}


main img {
    width: 150px;
    height: auto;
    border: 1px solid #000;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid #000;
    padding: 1em;
    background-color: #eee;
    color: #333;
}

aside img {
    width: 200px;
    height: auto;
}

   
 p {
    padding: 0;
 
 }   

aside {
    width: 20rem;
    color: #333
    text-align; center:
    position;relative;

}

aside img {
    width: 250px;
    height: auto;
}

 aside h2 {
    position: absolute;
    top: 77%;
    left: 5%;
 }


footer {
    margin-top: 1em;
    border-top: 1px solid black;
    text-align: center;
}

/* Seletor de classe */
.caixa {
    margin: 20px;
    border: 1px solid black;
    padding: 15px;
}